<div class = "note-app-container" >
    
    <%= render 'note_list_container' %>
    
    <!-- Note Display container -->
    <div class = "note-show-container">
        
        <h3>
           <%= @note.title %>
        </h3>

        <p>
            <%= @note.text %>
        </p>
        
        
            <%= link_to 'Edit Note', edit_note_path(@note) %>
            <%= link_to 'Delete Note',  note_path(@note), method: :delete, data: { confirm: 'Are you sure?' } %>
        
    </div>
</div>
