<div class = "note-app-container" >
    
    <%= render 'note_list_container' %>
    
    <!-- Note Display container -->
    <div class = "note-show-container">
        
        <h3>
           <%= @user_note.title %>
        </h3>

        <p>
            <%= @user_note.text %>
        </p>
        
        
            <%= link_to 'Edit Note', edit_user_note_path(@user.id, @user_note) %>
            <%= link_to 'Delete Note',  user_note_path(@user.id, @user_note), method: :delete, data: { confirm: 'Are you sure?' } %>
        
    </div>
</div>
