<!DOCTYPE html>
<html>
  <head>
    <title>NoteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/34137a2e71/UntitledProject/style.css">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class = "header-container">
          <div class = "logo">
              <img src = <%= asset_path('logo.png') %> alt = "Logo"/>
          </div>
          <div class = "user-name">
              <% if sign_in? %>
                <%= link_to current_user.username, user_path(current_user.id) %>
                <%= link_to 'Logout', logout_path(current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <%= link_to 'Login', login_path %>
                <%= link_to 'Signin', signup_path %>
              <% end %>
          </div>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
